.toggle-btn {
  position: absolute;
  top: 3%;
  right: 18%;
  background-color: #3563e9;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 10px;
}

.sidebar.closed {
  display: none;
  transform: translateX(-100%);
  opacity: 0;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  height: 100vh;
  background: white;
  padding: 40px 20px;
  border-right: 1px solid #eee;
  overflow-y: auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(0);
  opacity: 1;
  z-index: 999;
}

.filter-group {
  margin-bottom: 40px;
}

.filter-group h4 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1f1f1f;
  text-transform: uppercase;
}

.option {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 14px;
  color: #555;
}

.price-bar {
  position: relative;
  width: 100%;
  height: 4px;
  background: #ddd;
  border-radius: 4px;
}

.price-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-color: #3563e9;
  border-radius: 4px;
}

.filter-group p {
  font-size: 14px;
  margin-bottom: 14px;
  color: #333;
}
.content {
  /* margin-left: 240px; */
  padding: 30px 40px;
  flex: 1;
}

.booking-container1 {
  display: flex;
  justify-content: space-around;
  gap: 22px;
  background-color: #f5f7fa;
  border-radius: 12px;
  padding: 20px;
  flex-wrap: wrap;
}

.form-section1 {
  background-color: white;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 420px;
}

.form-section1 h4 {
  margin-bottom: 15px;
  font-weight: 500;
  color: #333;
}

.form-group1 {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.form-item1 {
  display: flex;
  flex-direction: column;
  min-width: 110px;
  flex: 1;
}

.form-item1 label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.form-item1 select {
  padding: 8px 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: #fff;
  color: #000;
}

.swap-button1 {
  background-color: #3f5efb;
  color: white;
  font-size: 18px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 40px;
  height: 48px;
  width: 48px;
  border-radius: 10px;
}

/* Content area */

/* Filters */
.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.filter-box {
  flex: 1;
  padding: 12px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
}

/* Car Cards */
.card-grid1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 20px;
  margin-top: 30px;
}

.car-card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 16px;
  width: 320px;
  border-radius: 10px;
  margin-left: -10px;
  margin-top: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.car-top1 h3 {
  font-size: 16px;
  margin: 0;
}

.car-top1 span {
  font-size: 13px;
  color: #777;
}

.car-image1 img {
  width: 100%;
  margin: 10px 0;
}

.car-info1 {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #555;
  margin-bottom: 10px;
}

.car-bottom1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-bottom1 .price1 {
  font-weight: bold;
  color: #333;
}

.car-bottom1 button {
  background: #3563e9;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .toggle-btn {
    top: 8%;
    right: 0;
  }

  .content {
    padding: 30px 10px;
  }
  .card-grid1 {
    padding: 20px;
    margin-left: 20px;
  }
}
