.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #fff;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #4a6cf7;
}

.search-bar {
  background-color: #fff;
  padding: 8px 15px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  width: 350px;
  border: 1px solid darkgray;
}

.search-bar input {
  background: transparent;
  border: none;
  margin-left: 10px;
  width: 100%;
  outline: none;
}

.search-bar svg {
  color: #aaa;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  color: #596780;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.icon:hover {
  color: #4a6cf7;
}

.profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 768px) {
  .topbar {
    padding: 10px 15px;
  }

  .logo {
    font-size: 18px;
  }

  .search-bar {
    width: 200px;
    margin-top: -8px;
    padding: 4px 8px;
    overflow: hidden;
  }

  .search-bar input {
    font-size: 10px;
  }

  .topbar-right {
    gap: 10px;
  }

  .icon {
    font-size: 12px;
    display: none;
  }

  .profile-img {
    width: 30px;
    height: 30px;
  }
}
